---
interface Props {
  title: string;
  description: string;
  href: string;
  img: string;
};

const { title, description, href, img } = Astro.props;

---
<div class="bg-blue rounded overflow-hidden shadow-lg hover:bg-blue-light">
  <div class="relative">
    <a 
      href={href}
      transition:name=`media-image-${img}`
    >
      <img
        class="w-full h-60"
        src={img}
        alt={title}
        loading="lazy"
      />
      <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>
    </a>
  </div>
  <a href={href} class="flex flex-col p-4">
    <p class="font-semibold text-golden text-xl inline-block">
      {title}
    </p>
    <p class="text-white text-sm">
      {description}
    </p>
  </a>
</div>
