---
interface Props {
  title: string;
  description: string;
  href: string;
  img: string;
};

const { title, description, href, img } = Astro.props;

---
<div class="grid grid-rows-[220px,auto]">
  <div class="flex justify-center translate-y-6">
    <a 
      class="rounded-full h-full"
      href={href}
      transition:name=`media-image-${img}`
    >
      <img
        class="rounded-full h-full transition-all duration-300 ease-in-out hover:rotate-90"
        src={img}
        alt={title}
        loading="lazy"
      />
    </a>
  </div>
  <a href={href} class="bg-blue flex flex-col gap-2 items-center rounded-3xl p-4 pt-6">
    <p class="font-semibold text-blue-600 text-xl text-center inline-block hover:underline">
      {title.toLocaleUpperCase()}
    </p>
    <p class="text-white font-medium text-md">
      {description}
    </p>
  </a>
</div>
