---
import Layout from "@/layouts/Layout.astro";
import { STEWS } from "@/constants/stews";
import List from "@/UI/List.astro";

export async function getStaticPaths() {
  return STEWS.map(
    ({ stewName, title, content, description, img, ingredients }) => {
      return {
        params: { stewName },
        props: { title, content, description, img, ingredients },
      };
    }
  );
}

const { title, content, description, img, ingredients } = Astro.props;
---

<Layout 
  title={title} 
  description={description}
  className="bg-blue"
>
  <div
    class="container max-w-3xl m-auto mt-36 p-4 flex flex-col justify-center gap-5 mb-20"
    transition:name=`media-image-${img}`
  >
    <div class="flex flex-col gap-4 w-full m-auto">
      <h1 class="mb-2 py-2 text-4xl font-bold text-center text-golden border-b-2 border-border">
        {title.toUpperCase()}
      </h1>
      <div class="flex flex-col gap-3 text-white" set:html={content} />
    </div>
    {ingredients.length > 0 && (
      <div class="text-white text-lg">
        <h2 class="text-2xl font-bold mb-2">
          Los ingredientes de este guiso son:
        </h2>
        <List listIngredients={ingredients} />
      </div>
    )}
    <div>
      <img
        class="max-h-96 min-h-52 m-auto rounded-md aspect-video sm:min-h-96"
        src={img}
        alt={title}
      />
    </div>
  </div>
</Layout>
