---
import Layout from "@/layouts/Layout.astro";
import { STEWS } from "@/constants/stews";
import { PriceDisplay } from "@/components/PriceDisplay"
import List from "@/UI/List.astro" 

export async function getStaticPaths() {
  return STEWS.map(
    ({ 
      title,
      stewName, 
      description,
      additionalIngredients,
      href,
      content,
      priceKilogram,
      priceHalfKilogram,
      priceQuarterKilogram ,
      img,
      available
    }) => {
      return {
        params: { stewName },
        props: { 
          title,
          description,
          additionalIngredients,
          href,
          content,
          priceKilogram,
          priceHalfKilogram,
          priceQuarterKilogram,
          img,
          available
        },
      };
    }
  );
}

const { 
  title,
  description,
  additionalIngredients,
  href,
  content,
  priceKilogram,
  priceHalfKilogram,
  priceQuarterKilogram,
  img,
  available
} = Astro.props;

---

<Layout 
  title={title} 
  description={description}
  className="bg-orange"
>
  <div
    class="container max-w-3xl m-auto mt-36 p-4 flex flex-col justify-center gap-5 mb-7"
    transition:name=`media-image-${href}`
  >
    <div class="flex flex-col gap-4 w-full m-auto">
      <h1 class="mb-2 py-2 text-4xl font-bold text-center text-blue border-b-2 border-border">
        {title.toUpperCase()}
      </h1>
      <div class="text-center">
        <span class="text-blue text-center text-xl font-semibold">
          Imagen ilustrativa
        </span>
        <img
          class="m-auto w-40 h-52 aspect-video transition-all duration-300 ease-in-out -rotate-12 hover:rotate-0 sm:w-auto sm:h-auto"
          src={img}
          alt={title}
        />
      </div>
      {!available && (
        <p class="text-center text-4xl font-semibold text-red underline">
          *No disponible*
        </p>
      )}
      {additionalIngredients && (
        <div class="flex flex-col items-center gap-2">
          <p class="text-2xl font-semibold text-blue">
            INCLUYE:
          </p>
          <List listIngredients={additionalIngredients} />
        </div>
      )}
      <div
        class="flex flex-col gap-3 text-xl font-semibold text-white"
        set:html={description}
      />
    </div>
    <PriceDisplay 
      priceKilogram={priceKilogram}
      priceHalfKilogram={priceHalfKilogram}
      priceQuarterKilogram={priceQuarterKilogram}
    />
    <div class="flex justify-center">
      <div class="flex flex-col items-center rounded-lg">
        <p class="text-black font-medium text-xl mt-7">Tiempo de entrega entre:</p>
        <span class="text-2xl font-semibold text-blue">
          30 - 45 min.
        </span>
      </div>
    </div>
    <p class="my-3 text-center text-lg">
      *Pago en <span class="font-bold">Efectivo</span> 
      o <span class="font-bold">transferencia</span>*
    </p>
    <p class="text-center font-semibold text-xl mt-11 max-w-xl m-auto">
      La variedad de guisados puede cambiar periódicamente.
    </p>
    <div
      class="flex flex-col gap-3 text-xl font-semibold text-white"
      set:html={content}
    />
  </div>
</Layout>
