---
import Layout from "@/layouts/Layout.astro";
import { STEWS } from "@/constants/stews";
import { formatCurrency } from "@/utils";

export async function getStaticPaths() {
  return STEWS.map(
    ({ 
      stewName, 
      title, 
      content, 
      description,
      img, 
      href, 
      priceKilogram, 
      priceHalfKilogram, 
      priceQuarterKilogram 
    }) => {
      return {
        params: { stewName },
        props: { 
          title, 
          content, 
          description, 
          img, 
          href, 
          priceKilogram, 
          priceHalfKilogram, 
          priceQuarterKilogram 
        },
      };
    }
  );
}

const { 
  title, 
  content, 
  description, 
  img, 
  href, 
  priceKilogram, 
  priceHalfKilogram, 
  priceQuarterKilogram 
} = Astro.props;

---

<Layout 
  title={title} 
  description={description}
  className="bg-orange"
>
  <div
    class="container max-w-3xl m-auto mt-36 p-4 flex flex-col justify-center gap-5 mb-7"
    transition:name=`media-image-${href}`
  >
    <div class="flex flex-col gap-4 w-full m-auto">
      <h1 class="mb-2 py-2 text-4xl font-bold text-center text-blue border-b-2 border-border">
        {title.toUpperCase()}
      </h1>
      <div>
        <img
          class=" w-60 h-60 m-auto aspect-video transition-all duration-300 ease-in-out hover:rotate-12"
          src={img}
          alt={title}
        />
      </div>
      <span class="text-blue text-center text-lg font-semibold">
        *Imagen ilustrativa: el producto se vende por envase, no por platillo.*
      </span>
      <div
        class="flex flex-col gap-3 text-xl font-semibold text-white"
        set:html={content}
      />
    </div>
    <div>
      <div class="flex flex-col justify-center gap-4">
        {priceKilogram && (
          <div class="bg-blue flex flex-col items-center m-auto px-5 py-3 rounded-lg">
            <p class="text-white text-xl">Precio por kilogramo:</p>
            <span class="text-3xl font-semibold text-orange">
              {formatCurrency(priceKilogram ?? 0)}
            </span>
          </div>
        )}
        {priceHalfKilogram && (
          <div class="bg-blue flex flex-col items-center m-auto px-5 py-3 rounded-lg">
            <p class="text-white text-xl">Precio por medio kilogramo:</p>
            <span class="text-3xl font-semibold text-orange">
              {formatCurrency(priceHalfKilogram ?? 0)}
            </span>
          </div>
        )}
        {priceQuarterKilogram && (
          <div class="bg-blue flex flex-col items-center m-auto px-5 py-3 rounded-lg">
            <p class="text-white text-xl">Precio de un cuarto:</p>
            <span class="text-3xl font-semibold text-orange">
              {formatCurrency(priceQuarterKilogram ?? 0)}
            </span>
          </div>
        )}
      </div>
    </div>
    <div class="flex justify-center">
      <div class="flex flex-col items-center rounded-lg">
        <p class="text-white text-md">Tiempo de entrega entre:</p>
        <span class="text-xl font-semibold text-blue">
          30 - 45 min.
        </span>
      </div>
    </div>
    <p class="my-3 text-center text-lg">
      *Pago en <span class="font-bold">Efectivo</span> 
      o <span class="font-bold">transferencia</span>*
    </p>
    <p class="text-center font-semibold text-xl mt-11 max-w-xl m-auto">
      La variedad de guisados puede cambiar periódicamente.
    </p>
  </div>
</Layout>
